*~
*.swp
*.swo
*.tmp

/build
/dist
/out
/.next

/node_modules


.env
.env.local
.env.development
.env.test
.env.production

*.log
*.pid
*.lock

/package-lock.json
/yarn.lock
/pnpm-lock.yaml

/lerna-debug.log

/coverage

/.eslintcache

.DS_Store
Thumbs.db
